* { margin: 0; padding: 0; box-sizing: border-box; }
body {
  font: 13px Helvetica, Arial;
  padding: 20px;
}
form {
  padding: 3px;
  bottom: 0;
  width: 700px;
}
form input { border: 1px solid black; padding: 10px; width: 90%; margin-right: .5%; }
form button {
  width: 9%;
  padding: 10px;
  border-color: black;
  box-shadow: 2px 2px;
  cursor: pointer;
}

p {
  margin-top: 4px;
}

.header {
  padding-bottom: 10px;
}

.header h1 {
  padding-bottom: 10px;
}

.header button {
  border-color: black;
  box-shadow: 2px 2px;
  padding: 5px;
  margin-left: 10px;
}

.messages {
  border-top: 1px solid black;
  padding-top: 10px;
  height: 20vh;
  width: 700px;
  overflow: scroll;
}

.game {
  height: 48vh;
  width: 700px;
}

.playerRed {
  color: red;
}

.playerBlue {
  color: blue;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}
.tile {
  width: 100px;
  height: 50px;
  margin: 10px;
  box-shadow: 2px 2px lightgrey;
  border: 2px solid lightgrey;
  cursor: pointer;
  font-size: xx-large;
  padding-top: 5px;
  padding-left: 30px;
}

.players {
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 700px;
}

.players button {
  padding: 5px;
  margin-left: 20px;
  border-color: black;
  box-shadow: 2px 2px;
  cursor: pointer;
}

.red-team {
  margin-right: 30px;
}

.red-team h3 {
  color: red;
}

.blue-team h3 {
  color: blue;
}

.redTile {
  border-color: red;
  background: rgba(255, 0, 0, 0.2)
}

.blueTile {
  border-color: blue;
  background: rgba(0, 0, 255, 0.2)
}

.assassinTile {
  border-color: black;
  background: rgba(0,0,0, 0.4)
}

.revealedTile {
  font-size: 0;
}
