* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form {
  padding: 3px;
  bottom: 0;
  border: 1px solid black;
  width: 700px;
}
form input { border: 1px solid black; padding: 10px; width: 90%; margin-right: .5%; }
form button {
  width: 9%;
  padding: 10px;
  border-color: black;
  box-shadow: 2px 2px;
  cursor: pointer;
}

.header {
  padding-bottom: 10px;
}
.messages {
  border: 1px solid red;
  height: 20vh;
  width: 700px;
  overflow: scroll;
}

.game {
  border: 1px solid blue;
  height: 50vh;
  width: 700px;
}

.playerRed {
  color: red;
}

.playerBlue {
  color: blue;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
}
.tile {
  width: 100px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px lightgrey;
  border: 2px solid lightgrey;
  cursor: pointer;
}

.players {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  width: 700px;
}

.players button {
  padding: 5px;
  margin-left: 20px;
  border-color: black;
  box-shadow: 2px 2px;
  cursor: pointer;
}

.red-team {
  margin-right: 30px;
}

.red-team h3 {
  color: red;
}

.blue-team h3 {
  color: blue;
}

.redTile {
  border-color: red;
}

.blueTile {
  border-color: blue;
}

.assassinTile {
  border-color: black;
}

.revealedTile {
  border-color: grey;
}
